node_modules/
functions/node_modules/
apps/web/node_modules/

dist/
apps/web/dist/
functions/lib/
apps/web/.angular/
.angular/

.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
firebase-emulators*.log
angular-serve*.log
*.local

.env
.env.*

.DS_Store
Thumbs.db

.vscode/
apps/web/.vscode/
